@page
@model IndexModel






<h1>  Desde aquí puedes gestionar:</h1>
<ul>
    <li><a href="/api/Agricultor">Lista de Agricultores</a></li>
    <li><a href="/api/Maquinaria">Lista de Maquinarias</a></li>
    <li><a href="/api/RegistroUso">Registros de Uso</a></li>
</ul>
